site_name: JET Encoding Guide
site_description: Various guides on encoding by JET
site_author: Jaded Encoding Thaumaturgy
site_url: https://jaded-encoding-thaumaturgy.github.io/JET-guide
repo_url: https://github.com/Jaded-Encoding-Thaumaturgy/JET-Guide

theme:
  name: material
  language: en
  palette:
    primary: purple
    accent: indigo
    scheme: slate
  features:
    - content.code.copy
    - content.code.select

nav:
  - Home: index.md
  - Encoding Resources: resources.md
  - Installation:
    - Setup and First Steps: setup.md
  - Filtering:
    - How do I ...?: howdoi.md
    - Descaling: descaling.md
  - Encoding:
    - x264 Parameters: x264params.md
  - Misc:
    - Comparison: comparison.md

plugins:
- search
- mkdocstrings:
    handlers:
      python:
        import:
          - https://docs.python.org/3/objects.inv
        options:
          docstring_style: "sphinx"
          show_symbol_type_heading: true
          show_symbol_type_toc: true

markdown_extensions:
  - admonition
  - footnotes
  - tables
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      pygments_style: "one-dark"
      noclasses: true
      linenums: true
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
